<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>DragonJay的小铺子</title>
    <link rel="stylesheet" href="../node_modules/mdui/dist/css/mdui.min.css"/>
    <link rel="stylesheet" href="https://cdn.w3cbus.com/mdui.org/static/theme/material/index.e8409b3c.css"/>
    <link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../node_modules/@fancyapps/ui/dist/fancybox.css"/>
    <link href="../node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fastly.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/aplayer/dist/APlayer.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8ZE107CW8T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8ZE107CW8T');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8434505608196685"
            crossorigin="anonymous"></script>
    <script src="../node_modules/qrcodejs2/qrcode.js"></script>
    <script src="../node_modules/aplayer/dist/APlayer.min.js"></script>
    <style>
        video#bgvid {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            background-size: cover;
        }
        .mdui-card {
            border-radius:6px
        }
        .mdui-dialog {
            border-radius:6px
        }
        .mdui-btn-block {
            border-radius:6px
        }
        .mdui-btn {
            border-radius:6px
        }
        .mdui-video-fluid {
            border-radius:6px
        }
        .mdui-menu-open {
            border-radius:6px
        }
        .mdui-table-fluid {
            border-radius:6px
        }
        .mdui-panel-item {
            border-radius:6px
        }
        .mdui-drawer {
            box-shadow:-1px 10px 10px 0 rgb(60 64 67/30%), 0 1px 3px 1px rgb(60 64 67/15%);
            width:256px
        }
        .mdui-drawer, footer {
            backdrop-filter:blur(15px)brightness(110%)
        }
        footer {
            position:fixed;
            bottom:0px;
            width:100%;
            text-align:center;
            padding:8px
        }
        .mdui-textfield {
            padding-top:0px;
            padding-bottom:0px
        }
        .mdui-btn, .mdui-fab {
            text-transform:none
        }
    </style>
</head>
<body id="capture" class="mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-indigo mdui-loaded" style="">
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/vuetify/dist/vuetify.js"></script>
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <button mdui-drawer="{target: '#main-drawer'}" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content:'菜单'}"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-bars"></i></button>
        <a href="./" class="mdui-typo-headline" mdui-tooltip="{content:'DragonJay ⚡️永远滴神⚡️'}">DragonJay的小铺子</a>
        <div class="mdui-toolbar-spacer"></div>
        <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#qrcode'}" mdui-tooltip="{content: '在其他设备上继续阅读'}" id="oth-div"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-laptop-mobile"></i></button>
        <div class="mdui-menu" id="qrcode" title="https://furrysp.top/" style="transform-origin: 100% 0px; position: fixed;"><canvas width="150" height="150" style="display: none;"></canvas><img style="display: block;" src=""></div>
        <script>
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: "https://furrysp.top",
                width: 150,
                height: 150,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
        </script>
        <a onclick="javascript:window.location.reload()" class="mdui-btn mdui-btn-icon"  mdui-tooltip="{content:'刷新'}"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-arrow-rotate-right"></i></a>
    </div>
</header>
<div class="mdui-drawer mdui-drawer-close" id="main-drawer">
    <div class="mdui-list">
        <a href="./game" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-game-console-handheld"></i><div class="mdui-list-item-content"> 游戏</div></a>
        <a onclick="Warring()" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-skull-crossbones"></i><div class="mdui-list-item-content">黑名单</div></a>
        <a href="./School-notes" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-note"></i><div class="mdui-list-item-content">学习笔记</div></a>
        <a onclick="Warring()" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-brands fa-wikipedia-w"></i><div class="mdui-list-item-content">知识扩展</div></a>
        <a onclick="Warring()" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-link"></i><div class="mdui-list-item-content">友情链接</div></a>
        <div class="mdui-divider"></div>
        <a onclick="window.open('https://pan.furrysp.top/');" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-chart-network"></i><div class="mdui-list-item-content">游戏网盘</div></a>
        <a onclick="window.open('https://t.me/+frQMWqK0suc0OGZl');" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-brands fa-telegram"></i><div class="mdui-list-item-content">TG群</div></a>
        <a onclick="window.open('https://t.me/DragonJay');" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-brands fa-telegram"></i><div class="mdui-list-item-content">TG</div></a>
        <a onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=410714630&site=qq&menu=yes');" class="mdui-list-item"><i class="mdui-list-item-icon mdui-icon fa-brands fa-qq"></i><div class="mdui-list-item-content">QQ</div></a>
    </div>
</div>
<script>
    function Warring() {
        Swal.fire({
            icon: 'warning',
            title: '正在施工中……',
            text: '请不要太捉急',
        })
    }
</script>
<div class="mdui-container mdui-p-t-3">
    <div class="mdui-col">
        <div id="pic">
        <div class="v-card">
            <v-skeleton-loader
                    v-if="loading"
                    height="94"
                    type="image"
            >
            </v-skeleton-loader>
            <v-img v-else data-sizes="auto" class="lazyload" src="https://furrysp.top/usr/uploads/800px-lvyunlu.webp"></v-img>
        </div>
            <div id="pic">
                <v-skeleton-loader
                        v-if="loading"
                        height="94"
                        type="text"
                >
                </v-skeleton-loader>
                <v-rating v-else></v-rating>
                </div>
            <div id="pic">
                    <v-skeleton-loader
                            v-if="loading"
                            height="94"
                            type="paragraph"
                    >
                    </v-skeleton-loader>
                <v-card-text v-else><strong>《履lǚ云录》</strong>（Elysium Above）是由《履云录》制作组（现叫Sweet Potato Studio）制作的一款AVG游戏，作者为亚罗神虎。AVG版本现已出至第三章。AVG版本现已作为废案，不再更新。 作者现在正在重新开发战棋版游戏，并预期在steam上发行。</v-card-text>
                </div>
                <div id="pic">
                    <v-skeleton-loader
                            v-if="loading"
                            height="94"
                            type="heading"
                    >
                    </v-skeleton-loader>
                        <v-card-title v-else>
                <h3>
                    <i class="mdui-list-item-icon mdui-icon fa-duotone fa-cloud-meatball"></i> 游戏背景
                </h3>
                        </v-card-title>
                    </div>
                <div id="pic">
                    <v-skeleton-loader
                            v-if="loading"
                            height="94"
                            type="paragraph"
                            rating="4"
                    >
                    </v-skeleton-loader>
                        <v-card-text v-else>
                    <p>分封制王国“万衍”王权渐衰，各封国间烽烟四起。东海边小国“帛”十一年前被北方大国“戮”所灭。十一年后，帛故都宛央城郊，帛太子荒朱带领援军前来，准备夺回家国。 战棋游戏《履云录》中，玩家将作为指挥官，与八位主角一起见证东海各国的兴衰。
                    </p>
                        </v-card-text>
                    </div>
                <div id="pic">
                    <v-skeleton-loader
                            v-if="loading"
                            height="94"
                            type="heading"
                    >
                    </v-skeleton-loader>
                        <v-card-title v-else>
                    <h3><i class="mdui-list-item-icon mdui-icon fa-duotone fa-fire-flame-curved"></i> 游戏特色
                    </h3>
                            </v-card-title>
                    </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="paragraph"
                            >
                            </v-skeleton-loader>
                            <v-card-text v-else>
                                <p>《履云录》中，玩家将扮演东海边小国——“帛”的初阶指挥官，于山雨欲来、乌云压城之时通过巧妙地排兵布阵和高超的指挥来帮助刚刚复国的帛国抵挡环伺的强敌的侵攻，一步一步探求各方势力的所求并最终做出抉择将故事引向不同的方向。<br>
                                    游戏采用半即时的“时刻”制。在行动点数耗尽前，角色可以任意移动和使用技能；但消耗的行动点数越多，下一次行动的到来就会变得越慢。仔细注意行动次序条，集中力量歼灭敌人吧。<br>
                                    通过不同的主动技能和被动技能的搭配，同一位队友可以以完全不同的定位出场。<br>
                                    通过完美破关、章间休息的活动、完成支线以及各种决断招募新的队友并提升与队友的默契度以获得各种好处。<br>
                                    在帛国境内四处活动、收集数十种宝物来强化己方角色。重要物品可能会影响结局走向哟。<br>
                                </p>
                            </v-card-text>
                        </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="heading"
                            >
                            </v-skeleton-loader>
                            <v-card-title v-else>
                            <h3><i class="mdui-list-item-icon mdui-icon fa-duotone fa-eject"></i> 关于万衍世界</h3>
                                </v-card-title>
                        </div>
                        <div id="pic">
                                <v-skeleton-loader
                                        v-if="loading"
                                        height="94"
                                        type="paragraph"
                                >
                                </v-skeleton-loader>
                                <v-card-text v-else>
                                    <p>在万衍大陆，一个传国数千年的分封制国家“万衍国”在享用了长久的和平后还是不可避免地走到了分崩离析的边缘。宗主国——万衍威权从八百年前就逐渐衰落，各个分封国之间互相征伐，战火吞灭了不计其数的国家和生命。<br>
                                        传统军事强国——戮，百年间不断兼并周围国家，现在已是万衍境内首屈一指的强大势力。新近成立的七国联盟则在盟主洪国的领导下与戮国对立，并极尽所能拉拢更多的国家加入联盟。两大势力的夹缝中则是游戏的主要舞台——帛国。<br>
                                        帛国于十一年前被戮国突袭攻灭，国王奎于王宫——宛央宫中举火殉国，大王子荒朱携三王子出奔南方的洪国。此后旧帛国领便为戮国占据。十一年后，为光复国家，大王子荒朱趁占领军松懈不备领大军杀回旧帛国领地，战争和死亡的阴影再次笼罩在东海之滨。多方势力也各怀鬼胎不约而至，这一场复国战争也许只是一系列混乱的开始……
                                    </p>
                                </v-card-text>
                        </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="heading"
                            >
                            </v-skeleton-loader>
                            <v-card-title v-else>
                                <h3><i class="mdui-list-item-icon mdui-icon fa-duotone fa-crown"></i> 众筹</h3>
                            </v-card-title>
                    </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="paragraph"
                            >
                            </v-skeleton-loader>
                            <v-card-text v-else>
                                <p>2021年2月7日，作者 <i class="fa-duotone fa-circle-dashed"></i>亚罗神虎在哔哩哔哩发布众筹宣传视频，游戏在摩点网开始众筹，三分钟达成5w的最低目标。
                                    截止2021年3月12日众筹结束，摩点网众筹到204,511元人民币，支持人数803人，超出预期的目标金额50,000元人民币的409.02%。
                                </p>
                            </v-card-text>
                    </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="heading"
                            >
                            </v-skeleton-loader>
                            <v-card-title v-else>
                                <h3><i class="mdui-list-item-icon mdui-icon fa-duotone fa-solar-system"></i> 系统需求</h3>
                            </v-card-title>
                        </div>
                    <div id="pic">
                        <v-skeleton-loader
                                v-if="loading"
                                height="94"
                                type="table-heading"
                        >
                        </v-skeleton-loader>
                        <v-expansion-panels v-else>
                            <v-expansion-panel>
                                <v-expansion-panel-header>最低配置</v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <p>操作系统: Windows 7及以上</p>
                                    <p>内存: 4 GB RAM</p>
                                    <p>存储空间: 需要 3 GB 可用空间</p>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="heading"
                            >
                            </v-skeleton-loader>
                            <v-card-title v-else>
                                <h3><i class="mdui-list-item-icon mdui-icon fa-duotone fa-user"></i> 成人内容描述</h3>
                            </v-card-title>
                        </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="list-item-avatar"
                            >
                            </v-skeleton-loader>
                            <v-alert type="warning" v-else>
                                存在轻度的流血、战损描写以及同性向的裸露。
                            </v-alert>
                        </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="heading"
                            >
                            </v-skeleton-loader>
                            <v-card-title v-else>
                                <h3><i class="mdui-list-item-icon mdui-icon fa-duotone fa-message-arrow-down"></i> 下载方式</h3>
                            </v-card-title>
                    </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="paragraph"
                            >
                            </v-skeleton-loader>
                              <v-card-text v-else>
                                《履云录》AVG版（只有前三章，已停止制作，详情请上官方微博查看）
                                <v-btn onclick="window.open('https://pan.baidu.com/s/1jHJnUF8');">
                                    <i class="mdui-list-item-icon mdui-icon fa-duotone fa-paw"></i> 百度网盘
                                </v-btn>
                            </v-card-text>
                        </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="heading"
                            >
                            </v-skeleton-loader>
                            <v-card-title v-else>
                                <h3><i class="mdui-list-item-icon mdui-icon fa-duotone fa-circle-waveform-lines"></i> AVG版音乐</h3>
                            </v-card-title>
                        </div>
                    <div id="player">
              </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="heading"
                            >
                            </v-skeleton-loader>
                            <v-card-title v-else>
                                <h3><i class="mdui-list-item-icon mdui-icon fa-duotone fa-greater-than-equal"></i> 相关链接</h3>
                            </v-card-title>
                        </div>
                    <div id="pic">
                            <v-skeleton-loader
                                    v-if="loading"
                                    height="94"
                                    type="list-item-two-line"
                            >
                            </v-skeleton-loader>
                    <ul class="mdui-list" v-else>
                        <li class="mdui-list-item mdui-ripple">
                            <div class="mdui-list-item-avatar">
                                <img data-sizes="auto" data-src="https://s2.loli.net/2022/04/23/ZSr6uBqFbVExHwf.png" class="lazyload"/>
                            </div>
                            <div class="mdui-list-item-content" onclick="window.open('https://twitter.com/elysiumabovee');">Elysium Above</div>
                            <i class="mdui-list-item-icon mdui-icon fa-brands fa-twitter"></i>
                        </li>
                        <li class="mdui-list-item mdui-ripple">
                            <div class="mdui-list-item-avatar">
                                <img data-sizes="auto" data-src="https://s3.bmp.ovh/imgs/2022/04/23/a9803655b08c852a.png" class="lazyload"/>
                            </div>
                            <div class="mdui-list-item-content" onclick="window.open('https://zhongchou.modian.com/item/99058.html');">亚罗神虎</div>
                            <i class="mdui-list-item-icon mdui-icon fa-duotone fa-soft-serve"></i>
                        </li>
                        <li class="mdui-list-item mdui-ripple">
                            <div class="mdui-list-item-avatar">
                                <img data-sizes="auto" data-src="https://s2.loli.net/2022/04/23/hs1EbKtlYx93qSz.png" class="lazyload"/>
                            </div>
                            <div class="mdui-list-item-content" onclick="window.open('https://weibo.com/u/5943309927');">履云录</div>
                            <i class="mdui-list-item-icon mdui-icon fa-brands fa-weibo"></i>
                        </li>
                        <li class="mdui-list-item mdui-ripple">
                            <div class="mdui-list-item-icon mdui-icon mdui-list-item-avatar">
                                <img data-sizes="auto" data-src="https://s2.loli.net/2022/04/23/hs1EbKtlYx93qSz.png" class="lazyload"/>
                            </div>
                            <div class="mdui-list-item-content" onclick="window.open('https://www.facebook.com/lvyunluTW/');">履云录</div>
                            <i class="mdui-list-item-icon mdui-icon fa-brands fa-facebook"></i>
                        </li>
                        <li class="mdui-list-item mdui-ripple">
                            <div class="mdui-list-item-avatar">
                                <img data-sizes="auto" data-src="https://s2.loli.net/2022/04/23/PARTO4wfJsz5Udr.png" class="lazyload"/>
                            </div>
                            <div class="mdui-list-item-content" onclick="window.open('https://tieba.baidu.com/f?kw=%E5%B1%A5%E4%BA%91%E5%BD%95');">履云录吧</div>
                            <i class="mdui-list-item-icon mdui-icon fa-duotone fa-paw"></i>
                        </li>
                    </ul>
                    </div>
                    <v-card>
                        <v-row>
                        <v-avatar>
                            <v-img
                                    src="https://img1.doubanio.com/icon/up143172430-61.jpg"
                            ></v-img>
                        </v-avatar>
                            <v-card-title>
                                Rominwolf
                            </v-card-title>
                        </v-row>
                        <v-card-subtitle>
                            来自豆瓣
                        </v-card-subtitle>
                        <v-card-text>
                            没什么好说的，必须用蓝色修改器支持一下。
                        </v-card-text>
                        <v-card-actions>
                            <div class="vote">
                                <v-btn class="up-vote">
                                <span>
                                    <i class="mdui-list-item-icon mdui-icon fa-solid fa-angle-up"></i> 赞同
                                    </span>
                                <span class="number">0</span>
                                </v-btn>
                                <v-btn class="down-vote">
                                <span>
                                    <i class="mdui-list-item-icon mdui-icon fa-solid fa-angle-down"></i>
                                    </span>
                                </v-btn>
                            </div>
                        </v-card-actions>
                    </v-card>
                        </div>
                    </div>
                </div>
<div class="mdx-post-money">
    <center><button mdui-menu="{target: '#mdx-qrcode-money',align: 'center'}" mdui-tooltip="{content: '赞赏'}" class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-ripple"><i class="mdui-list-item-icon mdui-icon fa-brands fa-weixin"></i></button>
        <div class="mdui-menu" id="mdx-qrcode-money" style="transform-origin: 50% 0px; position: fixed;"> <img alt="赞赏" src="https://s2.loli.net/2022/03/16/9exFly4Ym3nAavw.png"></div>
    </center></div>
<div id="tcomment"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twikoo/1.5.10/twikoo.min.js"></script>
<script>
    twikoo.init({
        envId: 'https://cs-com.vercel.app/',
        el: '#tcomment',
    })
</script>
<div id="indic" style="transform: scale(1) translateZ(0px);"><canvas width="59" height="59" style="width: 59px; height: 59px;"></canvas></div>
<button onclick="topFunction()" id="myBtn" mdui-tooltip="{content:'回到顶部'}" class="mdui-fab mdui-color-theme-accent mdui-fab-fixed scrollToTop mdui-ripple"><i class="mdui-list-item-icon mdui-icon fa-duotone fa-computer-mouse-scrollwheel"></i></button>
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {console.log(121);
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script>
    var one = new Vue({
        el: '#pic',
        vuetify: new Vuetify(),
        dark: true,
        data: function () {
            return {
                loading: false,
                transition: 'scale-transition'
            }
        },
        mounted() {
            this.loading = true
            setTimeout(() => {
                this.loading = false
            }, 5000)
        },
    });
</script>
<footer class="mdui-typo">
    <p>Copyright © 2019 - 2022 <a style="font-weight:600" href="https://furrysp.top/" target="_blank">DragonJay</a></p>
</footer>
<script src="https://fastly.jsdelivr.net/gh/SurpriseLon/Fontawesome-6@main/js/all.js" async=""></script>
<script src="../lvyunlu.js" async=""></script>
<script src="../vote.js" async=""></script>
<script src="../node_modules/@fancyapps/ui/dist/fancybox.umd.js" async=""></script>
<link rel="prefetch" as="script" href="../node_modules/html2canvas/dist/html2canvas.min.js" async="">
<script src="../node_modules/lazysizes/lazysizes.min.js" async=""></script>
<script src="../node_modules/clipboard/dist/clipboard.min.js" async=""></script>
<script src="../node_modules/sweetalert2/dist/sweetalert2.js" async=""></script>
<script src="../node_modules/mdui/dist/js/mdui.min.js" async=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js" async=""></script>
</body>
</html>